body {
  background-color: #E3E6EE;
}

#intro {
  color: black;
  font-family: Oswald;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;

}

#meteo {
text-align: center;
font-family: Roboto;
font-size: 60px;
padding: 10px;
box-shadow: 2px 2px 2px 1px #B9BBC2;
background-color: white;
margin: 15px;
text-align: center;
border-radius: 5px;
}

#meteo p {
  font-size: 15px;
  padding: 10px;
}

#info {
text-align: center;
font-family: Roboto;
font-size: 60px;
padding: 10px;
box-shadow: 2px 2px 2px 1px #B9BBC2;
background-color: white;
margin: 15px;
text-align: center;
border-radius: 5px;
}

#info li {
  font-size: 15px;
  display: inline-block;
}

#info p {
  font-size: 15px;
}

#previ {
text-align: center;
font-family: Roboto;
font-size: 60px;
padding: 10px;
box-shadow: 2px 2px 2px 1px #B9BBC2;
background-color: white;
margin: 15px;
text-align: center;
border-radius: 5px;
}

#previ li {
  font-size: 30px;
  display: inline-block;
  padding: 70px;
}

.footer {
  background-color: black;
  height: 60px;
  color:#E8EAF3;
  font-size: 15px;
  padding: 20px;
}

.footer a {
  color: #E8EAF3;
  text-decoration: none;
}





